
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: transparent;
    position: fixed;
    right: 0px;
    left: 0px;
}
.header__link{
    color: black;
    font-weight: bold;
    font-size: var(--size-lg);

}